VISITORS_LOG=visitors.log
SKIP_IPS=
PORT=80
OPENAI_API_KEY=
LLM_MODEL_NAME=gpt-5.6-luna
BLIP_MODEL_NAMES=["zhao-liying/blip-image-captioning-base","Huiaaa/flickr30k-blip-caption","Salesforce/blip-image-captioning-base","Salesforce/blip-image-captioning-large"]
