<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Christopher's Gallery">
    <meta property="og:description" content="Gallery of chalk murals by Christopher Donner">
    <meta property="og:content:image" content="https://christopherdonner.com/">
<script src="/index.js"></script>

    <link type="text/css" rel="stylesheet" href="/style.css" /> 
    <title>Christopher's Gallery!</title>
</head>
<body>
    {{{body}}}
</body>
</html>
