<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="christopherdonner.ca">
    <meta property="og:description" content="Gallery of chalk drawings by Christopher Donner">
    <meta property="og:content:image" content="https://christopherdonner.com/">
<script src="/index.js"></script>

    <link type="text/css" rel="stylesheet" href="/style.css" /> 
    <title>Christopher's Gallery!</title>
</head>
<body>
    <div class="overlay" onclick="shrinkAll()"></div>
        <div class="viewer hidden">
        <div id="last" onclick="previous()" onkeydown="keyboardhandler(event)"><</div>
            <div class="image"></div>
        <div id="next" onclick="nextImage()" onkeydown="keyboardhandler(event)">></div>
        <div id="close" onclick="closeViewer()">X</div>
    </div>
    {{> header}}
    {{{body}}}
</body>
</html>
