<header>
<h1>Christopher Donner</h1>
<nav>
  <ul>
    <li><a href="/">home</a></li>
    {{#each directoryListSimple}}
      <li><a href="/{{this}}">{{this}}</a></li>
    {{/each}}
    <li><a href="/about">about</a></li>
  </ul>
</nav>
</header>
<article>
    <p>Christopher Donner is a dad living in Waterloo, Ontario.</p>
    <p>He was born at Toronto General Hospital in 1981 and moved to Waterloo in 2005.</p>
    <p>Programming and drawing are lifelong passions.</p>
    <p>He works as a senior software developer at Opentext.</p>
    <p>He began drawing large scale chalk murals in 2016.</p>

</article>