<bio>
  <p>Christopher Jacob Donner (he/him) is a programmer and artist living in Waterloo, Ontario.</p>
  <p>Born at Toronto General Hospital in 1981 and moved to Waterloo in 2005.</p>
  <p>Programming and drawing are lifelong passions.</p>
  <p>Lives in Waterloo with his partner, their two children, two dogs and a guinea pig.</p>
  <p>His kids are 8 and 10 and he draws fan art of cartoons from his childhood and theirs.</p>
  <p>Works as a senior software developer at Opentext.</p>
  <p>Blackboard drawings are done at his office (1m²-3m²).</p>
  <p>Paper drawings are mostly lunch box drawings (5cm²-20cm²).</p>
  <p>Sidewalk drawings are done in front of his house (sidewalk-size).</p>
  <p>This webpage/webapp runs out of his living room.</p>
  <p>Drawings on the blackboard, by in large, contain no black chalk or charcoal but instead, use the negative space of the blackboard. What this means is that he is never drawing the outline and never drawing the actual cartoon but rather, constructing them from a series of odd, coloured shapes, akin to stained glass or paper craft.</p>
</bio>

