
<cv>
  <h4>Skills</h4>
  <ul>
  <li>Python (Pandas, MatPlotLib, PyTorch, PIL, Keras), Javascript (NodeJS, BackboneJS, ReactJS, JQuery), HTML, CSS, SQL,
  MSSQL, MYSQL, PG SQL, MongoDB, Jasmine/Karma /Pytest</li>
  <li>Over six years of Enterprise Software Development</li>
  <li>Over fifteen years working directly with customers in technical support escalation roles</li>
  <li>Excellent written and verbal communication skills</li>
  <li>Public Speaking</li>
  <li>Designing, testing, deploying and maintaining software</li>
  </ul>
  <h4>Experience</h4>

<p>
<ul>
  <li>Opentext – (June 2014 to present)</li>
  Senior Software Developer – OTCM aka xECM aka Livelink (November 2023 to present)
  Engineered and extended the Aviator ADT to support robust execution of AI Agents, including tool registration,
  capability discovery, secure context passing, and seamless integration with OpenText Content Management.
  Built reusable AI tools and agentic components that automated complex business workflows access to LLM-driven
  functions.
  Collaborated with product, architecture, and platform engineering teams to design end-to-end solutions that align with
  enterprise security, compliance, and performance requirements.
  Provided technical leadership, mentorship, code reviews, and best-practice guidance across the AI and agentic
  development team.
  Software Developer (September 2019 to October 2023)
  Developed widgets for the Content Server Smart UI, a nodeJS UI application sitting on top of the Content Server
  document management platform. This is done in Backbone.js.
  Ported features to the new user interface
  Branch management – Responsible for several component branches .
  Author unit tests.
  Investigate and address customer reported defects.
  Assist Technical Support as needed.
  Principal Technical Analyst (June 2014 to August 2019)
  Level 3 technical support escalation point.
  Development contact for various component products.
  TD Bank - BlackBerry Mobility Engineer (December 2013 to June 2014)
  Research In Motion/BlackBerry - Customer Support Operations (April 2005 to October 2013)
</ul>
</p>

  
  

  <h4>Education</h4>
  <ul>
    <li>Coding bootcamp, University of Toronto School of Continuing Studies, May 2019</li>
    <li>Meta Front-End Developer Specialization, March 2024</li>
    <li>IBM Applied Software Engineering Fundamentals, August 2024</li>
    <li>IBM Data Science Professional Certificate, December 2025</li>
    <li>IBM Generative AI Engineering Professional Certificate, December 2025</li>
  </ul>
</cv>