<header>
    This page is created and served using <a href="https://github.com/christopherdonner/dumpgallery">dumpGallery</a>

</header>
{{#each images}}
    <img id="{{this}}" src="/img/{{this}}" height=80 onclick="expando(this, '{{this}}')">
  {{/each}}
  <footer>
    All artwork and javascript seen here is the creation of Christopher Donner.
  </footer>