<header>

</header>
{{#each images}}
    <article><img id="{{this}}" src="/img/{{this}}" height=80 onclick="expando(this, '{{this}}')"></article>
  {{/each}}
  <footer>
    This page is created and served using <a href="https://github.com/christopherdonner/imagebot">imageBot</a>
    All artwork and javascript seen here is the creation of Christopher Donner.
  </footer>