body {
    margin: 20px;
    padding: 20px;
}

img {
    height: 80px;
    width: 80px;
    opacity: 0.9;
    transform: scale(1);
    transition: transform, 0.1s;
    z-index: 1;
    position: relative;
    border-radius: 2px;
}

img:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 2px 4px 8px 4px black;
    transition: transform, box-shadow, 0.2s;
    z-index: 9000;
}

img.big {
    width: unset;
    /* height: unset; */
    transform: scale(7);
    z-index: 9000;
    opacity: 1;
    box-shadow: 2px 4px 8px 4px black;
    transition: transform, width, 0.1s;
}